.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f5f6fa;
}

.nav {
  display: flex;
    width: 100%;
    height: 46px;
    margin: 0 0 32px;
    padding: 30px 0 30px 50px;
    background-color: #fff;
}

.nav-items {
  display: flex;
}

li {
  list-style: none;
}

.nav-items li {
  margin: 0 12px;
}

.oval {
  width: 4.25rem;
  height: 4.25rem;
  border: solid 5px #e8e8e8;
  border-radius: 40px;
  color: linear-gradient(to bottom, #307bbe, #379cf6);
}

.bookstore {
  margin: 10px;
  margin-left: 50px;
    font-family: sans-serif;
    font-size: 1.875rem;
    font-weight: bold;
    font-style: normal;
    color: #0290ff;
}

.completion {
  display: flex;
  margin: 40px 20px;
}

.per-completed {
  width: 2.938rem;
  height: 2.438rem;
  margin: 0.063rem 7.063rem 0 0.688rem;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.completed {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.hr-completed {
  width: 0.1px;
    height: 74px;
    position: relative;
    margin: 45px 0;
}

.hr {
  width: 68.5rem;
  margin: 45px 0;
  border: solid 1px #e8e8e8;
  margin-left: 100px;
}

.current {
  margin: 45px;
}

.book {
  display: flex;
    width: 80%;
    height: 10.625rem;
    margin: 24px 99px;
    padding: 20px 40px;
    border-radius: 4px;
    border: solid 1px #e8e8e8;
    background-color: #fff;
}

.book-details {
  width: 50%;
}

.title {
  width: 22.313rem;
  height: 1.813rem;
  margin: 0.188rem 0.188rem 0 0;
  font-family: sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.author {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.book-action {
  display: flex;
  width: 4.563rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  position: relative;
  right: 47px;
}

.book-action li {
  margin: 8px;
}

.book-action li > button {
  border: none;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  position: relative;
  right: 7px;
  background: transparent;
}

li:hover {
  background: #0290ff;
  color: brown;
}

.book-action li > button:active {
  background: green;
  color: blue;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 85px;
  width: 90%;
}

.form h3 {
  padding-left: 12px;
}

.form-inputs {
  display: flex;
}

.progress-update,
.addBook {
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  color: #fff;
  background-color: #0290ff;
}

.book-title,
.book-author {
  margin: 12px;
  padding: 8px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.book-title {
  width: 55%;
}

.current-chapter {
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 5.375rem 0 3.688rem;
  opacity: 0.5;
  font-family: sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.chapter {
  width: 13.25rem;
  height: 1.313rem;
  margin: 0.438rem 0 0.25rem 3.688rem;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--black-two);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
