.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  width: 100vw;
  height: 100%;
  padding: 0 0 120px;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
}

.nav {
  display: flex;
  width: 100vw;
  padding: 14px 0 16px 0;
  background-color: #fff;
  margin-bottom: 25px;
  border-bottom: solid 1px #e8e8e8;
}

.nav-items {
  display: flex;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

.nav-items li {
  display: flex;
  margin: 0 12px;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.7px;
  color: #121212;
}

.oval {
  width: 3.25rem;
  height: 3.25rem;
  border: solid 5px #e8e8e8;
  border-radius: 40px;
}

.bookstore {
  margin: 10px;
  margin-left: 50px;
  font-family: sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-style: normal;
  color: #0290ff;
}

.completion {
  display: flex;
  margin: 40px 20px;
}

.per-completed {
  width: 2.938rem;
  height: 2.438rem;
  margin: 0.063rem 7.063rem 0 0.688rem;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.completed {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.hr-completed {
  width: 0.1px;
  height: 74px;
  position: relative;
  margin: 13px 0;
  border: solid 0.1px #e8e8e8;
}

.hr-addbook {
  width: 86.4%;
  height: 0.1px;
  margin: 30px 54px 0;
  border: solid 0.1px #e8e8e8;
}

.current {
  margin: 45px 0;
  display: flex;
  flex-direction: column;
}

.book {
  display: flex;
  width: 85%;
  height: 130px;
  margin: 12px 54px 0;
  padding: 26px 0 0 16px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.book-category {
  margin: 0 26px 0 0;
  width: 3.063rem;
  height: 1.125rem;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-details {
  width: 40%;
}

.title {
  width: 22.313rem;
  height: 1.813rem;
  margin: 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.author {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.book-action {
  display: flex;
  width: 4.563rem;
  height: 1.188rem;
  margin: 12px 0 0;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  position: relative;
  right: 47px;
}

.book-action li {
  margin: 8px;
}

.book-action li > button {
  border: none;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  position: relative;
  right: 7px;
  background: transparent;
}

li:hover {
  background: #0290ff;
  color: brown;
}

.book-action li > button:active {
  background: green;
  color: blue;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 45px;
  width: 90%;
}

.form h3 {
  padding-left: 12px;
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.form-inputs {
  display: flex;
}

.per-div {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.progress-update {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  border: solid 1px #e8e8e8;
}

.addBook {
  border: solid 1px #e8e8e8;
}

.progress-update,
.addBook {
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  color: #fff;
  background-color: #0290ff;
}

.book-title,
.book-author {
  margin: 7px;
  padding: 8px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.book-title {
  width: 55%;
}

.current-chapter {
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 5.375rem 0 3.688rem;
  opacity: 0.5;
  font-family: sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.chapter {
  width: 13.25rem;
  height: 1.313rem;
  margin: 0.438rem 0 0.25rem 3.688rem;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--black-two);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
